<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0">

    <div style="margin-top:0px;">
      
      <ol class="breadcrumb">
        <li><a href="#">Cursos</a></li>
        <li><a href="#">AngularJS</a></li>
        <li class="active">Aulas</li>
      </ol>

    </div>

    <div style="padding:15px;">

      <h3>Incluindo nova aula</h3>


      <form name="form" role="form">


        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            
            <div class="row">    

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="form-group">
                  <label for="nm">Nome do Curso</label>
                  <input name="nm" ng-model="vm.obj.nm" type="text" class="form-control" ng-minlength="3" ng-maxlength="20" required >
                </div>
                
              </div>

            </div>
            
            <div class="row">    

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="form-group">
                  <label for="ds">Breve Descrição</label>
                 <textarea name="ds" ng-model="vm.obj.ds" class="form-control" rows="3" placeholder="Faça um breve resumo sobre a aula"></textarea>
                </div>
                
              </div>

            </div>
            
            <div class="row">    

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="form-group">
                  <label for="idCat">Categoria</label>
                  <combotabelaservice obj="vm.obj.idCat" service="categoria" name="categoria"></combotabelaservice>
                </div>
                
              </div>

            </div>


            <div class="row" style="margin:30px;">    
                  
              <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">

                <div align="center">

                  <a ui-sref="app.curso" class="btn btn-default" style="align:center;">
                   <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Cancelar
                  </a>

                  <button ng-click="vm.inserir()" class="btn btn-primary" style="align:center;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Incluir novo Curso
                  </button>

                </div>

              </div>
              
            </div>
            

          </div>

        </div>

      </form>

    </div>
      
  </div>

</div>