<!doctype html>
<html>
<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CursoVid - Centenas de Cursos e Video Aulas Totalmente Grátis!</title>

  
    
    
    <meta name="google-signin-client_id" content="553562464654-q20lj55m5o47t60njtolciv1tkpdhis1.apps.googleusercontent.com"></meta>
    <meta name="author" content="i9Mind - i9Mind.com.br">
    <meta name="description" content="Centenas de Cursos e Video Aulas gratis! Aprenda sobre: Como ganhar dinheiro, Idiomas, Educação, Vestibular, Tecnologia, Concursos Publicos, Empreendedorismo, Culinária, Moda, Beleza, Dieta, Música, Aprender tocar Violão, Cursos Profissionalizantes, Saude, Artesanato, Religiao Evangelica, Religiao Católica, Espirita, Empregos, Sexo, etc. Entre e conheça!" />

       <!-- Latest compiled and minified CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="http://localhost:8080/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,500italic,300' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="http://localhost:8080/assets/site.css" rel="stylesheet">


</head>

<body>

<div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Projeto Video Aula</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-left">
           
            <div class="input-group">
              <input type="text" class="form-control buscanavbar typeahead" placeholder="O que você quer aprender?" accesskey="B" style="float: none;">
              <span class="input-group-btn">
                <button class="btn btn-default botaobusca" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </form>
        </div>
      
      </div>
    
    </nav>

    <div class="container-fluid" ng-app="app">
      
      <div class="row" ng-controller="InitController as vm">
        
        <div class="col-sm-3 col-md-2 sidebar" style="position: initial;">
          
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Início <span class="sr-only">(current)</span></a></li>
             <li><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Em Alta</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Mais Queridos</a></li>
          </ul>

          <hr class="guide-section-separator">
          
          <div align="center" style="color:#999;font-size: 10px;font-family: 'Roboto', arial, sans-serif;">O MELHOR DO SITE</div>

          <div id="menu-lateral">
           

               <ul class="nav nav-sidebar">
                 <li ng-repeat="obj in vm.listaMenuLateral"><a href="http://localhost:8080/categoria/{{obj.idCat}}" ><span class="glyphicon glyphicon-stop"></span> {{obj.nmCat}}</a></li>
              </ul>
          

          </div>

          <hr class="guide-section-separator">

          <div align="center">Faça seu login grátis, se matricule no cursos, tenha acesso total e turbine a sua carreira! </div>

          <div>
              
              
    <button id="signin-button" onclick="loginFacebookApp()">LOGAR FACEBOOK</button>

    <button id="signin-button" onclick="loginGoogleApp()">LOGAR GOOGLE</button>




              <br>

              <button id="authorize-button" style="display: none;">Authorize</button>
              <button id="signout-button" style="display: none;">Sign Out</button>

           

          </div>

        </div>
        
        
        <div class="col-sm-9 col-md-10 main">
          
          <div class="row" >

            <div class="col-sm-12 col-md-12">
              <div align="center" ><img src="images/anuncio728x90.png" ></div>
            </div>

          </div>

          <div id="content"></div>
            
            <div class="row" style="margin-top:10px;" ng-repeat="obj in vm.listaMenuLateral">
            
              <div class="col-sm-12 col-md-12" style="background-color:white;border-bottom: 1px solid #e2e2e2;">

                <div class="row">

                  <div class="col-sm-12 col-md-12" style="margin-top:10px;margin-bottom:7px;font-size:14px;font-family: 'Roboto',arial,sans-serif;white-space: normal;vertical-align: middle;">
    {{obj.nmCat}}
                  </div>

                </div>
            
                <div class="row">

                  <div class="col-sm-6 col-md-2" style="padding-right:7px;" ng-repeat="curso in obj.content.cursos">
                    <div class="thumbnail">
                      <img src="https://i.ytimg.com/vi/{{curso.vid}}/mqdefault.jpg" class="img-responsive" 
                     alt="Clique para acessar o curso">
                      <div class="caption">
                        <p class="thumbtitle">{{curso.nm}}</p>
                        <p class="thumbprof">Professor Victor</p>
                        <p class="thumbprof">{{curso.vis}} visualizações | 1 dia atras</p>
                      </div>
                    </div>
                  </div>

                </div>

              </div> 

            </div>

          </div>

        </div>
          
      </div>
    
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src='../bower_components/angular/angular.js'></script>

    <script src="http://localhost:8080/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>

    

    <script src="http://localhost:8080/assets/js/comp/App.js"></script>




    

    <script type="text/javascript">
        


        var ls =  <%- JSON.stringify(lista) %>;
       


       

     
        
    </script>

    <script type="text/javascript">
      

      var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];


var states = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `states` is an array of state names defined in "The Basics"
  local: states
});

$('.typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: states
});


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

    </script>


<script type="text/javascript">
  
  

    angular.module('app', []).controller('InitController', function($scope) {

        var vm = this;
        
        vm.listaMenuLateral = ls.lista;

    });

</script>
  

    <script src="http://localhost:8080/assets/js/constantes.js"></script>
    <script src="http://localhost:8080/assets/js/ajax.js"></script>
    <script src="http://localhost:8080/assets/js/store.js"></script>
    <script src="http://localhost:8080/assets/js/loginPrototype.js"></script>
    <script src="http://localhost:8080/assets/js/google-plus-login.js"></script>
    <script src="http://localhost:8080/assets/js/facebook-login.js"></script>
    <script src="http://localhost:8080/assets/js/loginGenerico.js"></script>
    <script src="http://localhost:8080/assets/js/funcoes.js"></script>

</div>
</body>
</html>