<!doctype html>
<html>
<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CursoVid - Centenas de Cursos e Video Aulas Totalmente Grátis!</title>

  
    
    
    <meta name="google-signin-client_id" content="553562464654-q20lj55m5o47t60njtolciv1tkpdhis1.apps.googleusercontent.com"></meta>
    <meta name="author" content="i9Mind - i9Mind.com.br">
    <meta name="description" content="Centenas de Cursos e Video Aulas gratis! Aprenda sobre: Como ganhar dinheiro, Idiomas, Educação, Vestibular, Tecnologia, Concursos Publicos, Empreendedorismo, Culinária, Moda, Beleza, Dieta, Música, Aprender tocar Violão, Cursos Profissionalizantes, Saude, Artesanato, Religiao Evangelica, Religiao Católica, Espirita, Empregos, Sexo, etc. Entre e conheça!" />

       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,500italic,300' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="assets/site.css" rel="stylesheet">

    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/react/react-dom.js"></script>  

 





</head>
<body>
<div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Projeto Video Aula</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-left">
           
            <div class="input-group">
              <input type="text" class="form-control buscanavbar" placeholder="O que você quer aprender?" accesskey="B">
              <span class="input-group-btn">
                <button class="btn btn-default botaobusca" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar" style="position: initial;">
          
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Início <span class="sr-only">(current)</span></a></li>
             <li><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Em Alta</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Mais Queridos</a></li>
          </ul>

          <hr class="guide-section-separator">
          
          <div align="center" style="color:#999;font-size: 10px;font-family: 'Roboto', arial, sans-serif;">O MELHOR DO SITE</div>

          <ul class="nav nav-sidebar">
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Tema</a></li>
          </ul>

          <hr class="guide-section-separator">

          <div align="center">Faça seu login grátis, se matricule no cursos, tenha acesso total e turbine a sua carreira! </div>

          <div>
              
              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-size="xlarge" data-show-faces="false"  >
              </fb:login-button>

              <br>

              <button id="authorize-button" style="display: none;">Authorize</button>
              <button id="signout-button" style="display: none;">Sign Out</button>

              <div id="content2"></div>

             
              <div id="status">
              </div>

          </div>

        </div>
        
        <div class="col-sm-9 col-md-10 main">
          
          <div class="row" >

            <div class="col-sm-12 col-md-12">
            <div align="center" ><img src="images/anuncio728x90.png" ></div>
            </div>

          </div>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>



<!-- Posicione esta tag onde você deseja que o botão +1 apareça. -->
<div class="g-plusone" data-annotation="inline" data-width="300" data-href="http://www.uol.com.br"></div>


          <div id="content"></div>

        </div>
          
      </div>
    
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript">
        
        var token = <%- JSON.stringify(user) %>;
        
    </script>

    <script src="assets/js/comp/App.js"></script>

    <script src="http://localhost:8080/assets/js/constantes.js"></script>
    <script src="http://localhost:8080/assets/js/ajax.js"></script>
    <script src="http://localhost:8080/assets/js/store.js"></script>
    <script src="http://localhost:8080/assets/js/loginPrototype.js"></script>
    <script src="http://localhost:8080/assets/js/google-plus-login.js"></script>
    <script src="http://localhost:8080/assets/js/facebook-login.js"></script>
    <script src="http://localhost:8080/assets/js/loginGenerico.js"></script>
    <script src="http://localhost:8080/assets/js/funcoes.js"></script>

</div>
</body>
</html>