<!doctype html>
<html>
<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CursoVid - Centenas de Cursos e Video Aulas Totalmente Grátis!</title>
    
    <meta name="author" content="i9Mind - i9Mind.com.br">

    <meta name="description" content="Centenas de Cursos e Video Aulas gratis! Aprenda sobre: Como ganhar dinheiro, Idiomas, Educação, Vestibular, Tecnologia, Concursos Publicos, Empreendedorismo, Culinária, Moda, Beleza, Dieta, Música, Aprender tocar Violão, Cursos Profissionalizantes, Saude, Artesanato, Religiao Evangelica, Religiao Católica, Espirita, Empregos, Sexo, etc. Entre e conheça!" />

       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,500italic,300' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="assets/site.css" rel="stylesheet">

    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/react/react-dom.js"></script>  

</head>
<body>
<div>

    LOGADOOOOOOOOoOOOOOoOOOOO

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    




</div>
</body>
</html>